:root {
    --main-color: #8ac4d0;
    --secondary-color: #28527a;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue', cursive;
}

*{
    box-sizing: border-box;
}

h1 {
    font-size: 40px;
    text-transform: uppercase;
    color: var(--secondary-color);
}

h2 {
    margin-top: -10px;
    margin-bottom: -10px;
}

.container {
    padding: 40px;
    height: 100vh;
    margin: 0 auto;
    /* width: 50%; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#gameboard { 
    color: var(--main-color);
    width: 450px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.box {
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-color);
    font-size: 150px;
}

button {
    padding: 10px 20px;
    border-radius: 1em;
    background-color: var(--secondary-color);
    font-size: 18px;
    margin-top: 25px;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    color: #FFFFFF;
    transition: all 0.15s;
    margin-bottom: 40px;
}

button:hover{
    color: var(--secondary-color);
    background-color: #FFFFFF;
}